body { 
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(243, 237, 242);
}
.sobrepag {
    width: 64%;
    height: 200px;
    padding-right: 55px;
    margin-left: -20px;
    text-align: justify;
    float: right;
    padding-bottom: 70px;
    font-size: medium;
    color:black;
    margin-top: -30px;
}
.apresentação_sobrapage {
    font-size: 28px;

}
.cliqueaq {
    color: rgb(173, 14, 147) ;
}
.link_cadastro {
    font-size: large;
}
.pergunta1 {
    margin-top: 50px;
    font-size: medium;
    float: left;
    margin-right: 50px;
    margin-left: 50px;
    text-align: justify;
    color:black;
    
}
.img {
    width: 300px;
    height: 410px;
    float: left;
    margin-left: -200px;
    margin-top: 90px;
    margin-right: 5px;
    box-shadow: 3px 3px 6px 3px #861f64;
}
.rap_nacional {
    font-size: 28px;
    width: 60%;
    margin-top: 45px;

}
.img2{
    float: right;
    width: 430px;
    height: 380px;
    box-shadow: 3px 6px 3px 3px #861f64;
    margin-bottom: 60px;
    margin-top: -510px;
}
.rap_nacional_texto{
    text-align: justify;
    color:black;
    font-size: medium;
}
.linha_divisoria {
    margin-top: 60px;
    height: 15px;
    width: 100%;
    border-top: 2px solid #fa75cef3;
    border-bottom: 2px solid #fa75cef3;
    background-color: rgba(8, 8, 8, 0.8);
}



